<h1>Administration Screen</h1>
<p><%= link_to "MailArticle", controller: "mailarticles", action: "list" %></p>
<p><%= link_to "Sidekiq" , sidekiqmg_path %></p>
<p><%= link_to "Signout" ,destroy_admin_session_path, :method => :delete %> </p>

