<head>
  <link href='http://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>

<article class="type-system-traditional">
  <p class="type"></p>
  <h1>Property Tracker NI</h1>
  <h2>The data displayed on this system is gathered from property advertising web sites. The source code is open source </h2>


  <h3>Navigating the Site</h3>
  <p>The Data displayed on the navigation screens are the areas in the country that have had properties advertised.
    It is possible that the area you are looking for has had no properties added. In this case if you cannot find it use the search screen</p>
  <hr>




</article>





