<section class="zero">

  <code>@include outer-container;</code>
  <h1>Scraper#result</h1>
  <p>Find me in app/views/scraper/result.html.erb</p>
  <body>
  <div id="alpha">
    <code>@include span-columns(6);</code>
  </div>
  <div id="beta">
    <code>@include span-columns(6);<br></code>
  </div>
  </body>
</section>



<%= submit_tag "Foo" %>
<%= link_to 'Post A Ride', '/', :class => "pill-button" %>
