<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
</head>


  <article class="type-system-slab">

    <h3>Feedback</h3>
    <p>If you want to send some feedback on this site you can contact me on the following address.  <a href="mailto:steveemo@outlook.com">Contact</a>. if the area you are looking for cannot be found you can suggest it gets added to the search. Just supply the area and county</p>
    <p class="date">30 Mar 2014</p>
    <p><span>Future additions to this site</span>, include adding a forum so that users can discuss what they want on this site and including additional property sites as a source of information. I intend to discuss some of the technologies I used on my wordpress site
      <a href="http://stephenemo.wordpress.com" class="read-more">Development discussion <span>&rsaquo;</span></a>
    </p>
    <h3>Objectives</h3>
    <p><span>This site does not include listings of properties</span> as there are already sites whose sole business is to do this. I do not want to list information from other sites but instead provide a level of automatic analysis for information that is already publicly available. I may at some time list the number of properties and their type that make up theanalysis but this is already done to a certain extent at the moment</p>
    <hr>
    <p class="author">Stephen Emo</p>
  </article>

