<header class="navigation">
  <meta name="description" content="Propery Tracking Information for Northern Ireland">
  <meta name="keywords" content="Down, Armagh, Derry, Londonderry, Tyrone, Fermanagh, Antrim, House, Apartment, Site,Property Sales,Northern Ireland,Property Prices">
  <meta name="author" content="Stephen Emo">

 <%= form_tag(countysearcharea_path, method: 'get')  do%>
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
     <%= image_tag("housing.png") %>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/scraper/result">Home</a></li>
        <li class="nav-link"><a href="/scraper/aboutus">About Site</a></li>
        <li class="nav-link"><a href="/scraper/contactus">Contact</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="/county/volumeview">Volume Sales</a></li>
            <li><a href="/county/pricingview">Average Price</a></li>
            <li><a href="/userpanel/configreport">Configure Profile</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
        <!--  <input type="search" placeholder="Enter Search" id="txtsearch"/>-->
          <%= text_field_tag :txtsearch, params[:txtsearch] %>
          <button type="submit">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <% if !user_signed_in? %>
        <a href="/users/sign_in" class="sign-up">Sign In</a>
      <% else %>
        <%= link_to "Sign Out" ,destroy_user_session_path, :method => :delete, :class => "sign-up" %>
      <% end %>
    </div>
  </div>

<% end %>
</header>


<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item"); 
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
